<div class="container">
  <div class="introduce">
    <%= image_tag 'introduce.png', class:"introduce" %>
  </div>
  <div class="article">
    <% if current_user.nil? %>
    <div class="outline">
      <%= link_to "Log in", new_user_session_path, class:"create-btn" %>
    </div>
    <div class="outline">
      <%= link_to "Create Account", new_user_registration_path, class:"create-btn" %>
    </div>
    <% end %>
  </div>
</div>
