<div class="uk-height-large uk-background-cover uk-flex uk-flex-center uk-flex-middle uk-light" uk-img id="items-background">
  <h1 class="animate__fadeInDown">【歯科矯正の種類と比較検討！】歯科矯正の違いは？どれが自分に合う？</h1>
</div><br>

<div class="article_area">
  <div class="uk-child-width-1-2 uk-text-left" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-large uk-card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">ワイヤー矯正</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">説明</th>
              <td>ブラケットと呼ばれる装置を歯に接着し、<br>
                そこにワイヤーを通し歯を正しい位置に移動させる治療方法です。<br>
              最も伝統のある歯列矯正法。<br>
              近年ではブラケットの種類も増え、目立ちにくいワイヤー矯正も増えています。<br>
              ブラケット・ワイヤー（プラスチック・セラミック・金属 素材もさまざま）<br></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>取り外しの必要なし。</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td colspan="2">歯を大きく移動させることができる。</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="3">適応可能な治療の幅が広い。</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td colspan="4">丁寧な歯のケアをしないと虫歯になりやすい。</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td colspan="4">丁寧な歯のケアをしないと虫歯になりやすい。</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td colspan="5">矯正器具で口を傷つけやすい。</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td colspan="6">見た目が気になる。ただ目立ちにくいワイヤー矯正も増えてきている。</td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td colspan="7">食事中に食べ物が挟まって気になってしまう。</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-large uk-card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">マウスピース矯正</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">説明</th>
              <td>透明なマウスピースを交換しながら、少しずつ歯を正しい位置に移動させる治療方法です。<br>
              格安のマウスピース矯正サービスなども近年増えており、種類も豊富。<br>
              目立ちにくい、装置を歯に固定させる必要がないのがメリットな歯列矯正方法。<br>
              マウスピース矯正は歯を平行に動かすこと（歯体移動）を苦手とします。</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>1日20時間以上の装着が必要。マウスピースの管理ができる方におすすめ。</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td colspan="2">ワイヤー矯正に比べると移動度は小さい。</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="3">歯並びによって治療が限られる可能性あり。</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td colspan="4">丁寧な歯のケアをしないと虫歯になりやすい。</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td colspan="4">口内トラブルは起きやすくはなるが、ワイヤーに比べると口を傷つけにくい。</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td colspan="5">透明なので目立ちにくい。</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td colspan="6">見た目が気になる。ただ目立ちにくいワイヤー矯正も増えてきている。</td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td colspan="7">食事中に取り外しが可能。</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<br><br><br>
</div>
