
.mySelect2 {
  width: 50%;
}

.content-field {
  border: 0;
  outline: 0;
  width: 50%;
  padding: 50px;
  border-radius: 20px;
  background: #ebf5fc;
  box-shadow: inset 7px 7px 14px #dfe9ef, inset -7px -7px 14px #f7ffff;
  transition: all .3s;
  &:focus {
    box-shadow:  inset 2px 2px 4px #BABECC, inset -2px -2px 4px #FFF;
  }
}

.article-area {
  text-align: center;
  font-size: 1.5rem;
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
  background: #ebf5fc;
  box-shadow:  6px 6px 12px #dfe9ef, -6px -6px 12px #f7ffff;
}

.article {
  padding: 50px 20px 80px 20px;
}

.select-btn {
  color: #ff5656;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 10px;
  background: #ebf5fc;
  box-shadow:  5px 5px 10px #d8e1e8, -5px -5px 10px #feffff;
}

.select-btn:hover {
  color: #ff5656;
  text-decoration: none;
  transition: all .6s;
  box-shadow: inset 5px 5px 6px #dbe4ea,
              inset -5px -5px 6px #fbffff;
}

.user_parts {
  padding: 10px;
}

.pulldown-search {
  width: 20%;
  padding: 10px 0;
  border: 0;
  outline: 0;
  border-radius: 20px;
  background: #ebf5fc;
  box-shadow: inset 7px 7px 6px #e2ebf2,
            inset -7px -7px 6px #f4ffff;
}

.comment-area {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  margin: 50px;
  border-radius: 200px;
  background: #ebf5fc;
  box-shadow:  6px 6px 12px #dfe9ef, -6px -6px 12px #f7ffff;
}

.content_text {
  text-align: left;
}
