
.input-field {
  width: 50%;
  border: 1px solid #e5e5e5;
  outline: 0;
  padding: 15px;
  background: #FFF;
  transition: all .3s;
}

$base-color: #DC436F;

.google-btn {
  background-color: #DC436F;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.google-btn:hover {
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
  background: darken($base-color, 5%)
}

.btn-field {
  padding: 15px;
}
