
.image_resize1 {
  width: 5rem;
}

.image_resize2 {
  width: 8rem;
}

.image_resize3 {
  width: 8rem;
}

.image_resize4 {
  width: 12rem;
}

.image_resize5 {
  width: 15rem;
}

.image_resize6 {
  width: 20rem;
}

.top-btn {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  padding: 25px 120px;
  margin: 0 50px;
  border-radius: 36px;
  background: linear-gradient(145deg, #e64848, #ff5656);
    &:hover, &:focus {
    color: #d44242;
    border-radius: 36px;
    background: #FF5050;
    }
  }

.user_info {
  width: 50%;
  text-align: left;
  font-size: 1.5rem;
  padding: 40px;
  margin: 40px;
  border-radius: 4px;
  background: #ebf5fc;
}

.user_profile_image {
  text-align: center;
}

.actions {
  padding: 20px 0 80px 0;
}

.rounded-circle {
  padding: 15px;
  border-radius: 50%;
}

$base-color: #5BDECD;

.create-btn {
  font-size: 1.5rem;
  color: #FFF;
  border: 0;
  outline: 0;
  padding: 20px 150px;
  border-radius: 5px;
  background: #5BDECD;
  cursor: pointer;
}

.create-btn:hover {
  color: #FFF;
  text-decoration: none;
  background: darken($base-color, 10%);
  transition: all .3s;
}

.grow_tree {
  text-align: center;
}

.user_name {
  color: #ff5656;
}
