
.image_resize1 {
  width: 5rem;
}

.image_resize2 {
  width: 8rem;
}

.image_resize3 {
  width: 8rem;
}

.image_resize4 {
  width: 12rem;
}

.image_resize5 {
  width: 15rem;
}

.image_resize6 {
  width: 20rem;
}

.outline {
  padding: 30px 0;
}

.user_info {
  width: 50%;
  text-align: left;
  margin: 10px;
}

.user_profile_image {
  text-align: center;
}

.actions {
  padding: 20px 0 80px 0;
}

.rounded-circle {
  border-radius: 100%;
}

$base-color: #654CF6;

.create-btn {
  font-size: 1.5rem;
  color: #FFF;
  border: 0;
  outline: 0;
  padding: 20px 50px;
  border-radius: 100px;
  background: lighten($base-color, 2%);
  cursor: pointer;
}

.profile-btn {
  color: #FFF;
  border: 0;
  outline: 0;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: black;
}

.create-btn:hover {
  color: #FFF;
  text-decoration: none;
  background: #654CF6;
  transition: all .3s;
}

.grow_tree {
  text-align: center;
}

.user_name {
  color: #ff5656;
}

.user-back {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('mypage3.png');
  background-size: cover;
  padding: 50px;
  width: 100%;
}

.mypage-font-color {
  color: white;
}

.outside {
  padding: 100px 0;
}


input[type=text]:valid,
input[type=email]:valid,
textarea:valid {
	color: #333;
	border-color: #ccc;
	background: #fff;
}

/* 入力エラーのスタイル */
input[type=text]:required,
input[type=email]:required,
input[type=email]:invalid,
textarea:required {
	color: #630015;
	border-color: #c20c33;
	background-color: #ffd9e1;
}
