
.image_resize1 {
  width: 5rem;
}

.image_resize2 {
  width: 8rem;
}

.image_resize3 {
  width: 8rem;
}

.image_resize4 {
  width: 12rem;
}

.image_resize5 {
  width: 15rem;
}

.image_resize6 {
  width: 20rem;
}
